<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/create">Create User</a>
        </div>
    </header>
    <section>
        <h3 class="text-center mt-3 mb-3">UPDATE A USER</h3>
        <!-- <%= JSON.stringify(userEdit) %> -->
        <div class="d-flex justify-content-center align-items-center container border border-dark">
            <div class="row ">
                <form action="/create-user" method="post">
                    <div class="form-group mt-2">
                        <label for="inputEmail" class="control-label">Enter your email :</label>
                        <input value="<%=userEdit.email  %>" name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label for="inputName" class="control-label">Enter your fullname :</label>
                        <input value="<%=userEdit.name  %>" name="fullname" type="text" class="form-control">
                    </div>
                    <div class="row form-group mt-2">
                        <div class="col ">
                            <label for="inputAddress" class="control-label">Enter your City :</label>
                            <input value="<%=userEdit.city  %>" name="city" type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="col">
                            <label for="inputAge" class="control-label">Enter your age :</label>
                            <input value="<%=userEdit.age  %>" name="age" type="number" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success">UPDATE</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>