<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="topnav">
            <a class="active" href="">Home</a>
            <a href="/create">Create User</a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8  mt-5 text-center">
                    <h2>USERS MANAGERMENT <b></b></h2>
                </div>
                <div class="col-sm-4 mt-5">
                    <div class="search-box">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search&hellip;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <!-- <%=JSON.stringify(listUsers)  %> -->
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fullname <i class="fa fa-sort"></i></th>
                                    <th>Email</th>
                                    <th>City <i class="fa fa-sort"></i></th>
                                    <th>Age <i class="fa fa-sort"></i></th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% listUsers.forEach(function(list) { %>
                                    <tr>
                                        <td>
                                            <%=list.id  %>
                                        </td>
                                        <td>
                                            <%=list.name  %>
                                        </td>
                                        <td>
                                            <%=list.email  %>
                                        </td>
                                        <td>
                                            <%=list.city  %>
                                        </td>
                                        <td>
                                            <%=list.age  %>
                                        </td>
                                        <td>
                                            <!-- <a href="/" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a> -->
                                            <a href="/update/<%=list.id%>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                            <a href="/" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                        </td>
                                        <% }); %>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="clearfix">
                            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                            <ul class="pagination">
                                <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item "><a href="#" class="page-link">3</a></li>
                                <li class="page-item"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">5</a></li>
                                <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h3 class="text-center mt-3 mb-3">ADD NEW USER</h3>
        <div class="d-flex justify-content-center align-items-center container border border-dark">
            <div class="row ">
                <form action="/create-user" method="post">
                    <div class="form-group mt-2">
                        <label for="inputEmail" class="control-label">Enter your email :</label>
                        <input name="email" type="email" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <label for="inputName" class="control-label">Enter your fullname :</label>
                        <input name="fullname" type="text" class="form-control">
                    </div>
                    <div class="row form-group mt-2">
                        <div class="col ">
                            <label for="inputAddress" class="control-label">Enter your City :</label>
                            <input name="city" type="text" class="form-control" placeholder="City">
                        </div>
                        <div class="col">
                            <label for="inputAge" class="control-label">Enter your age :</label>
                            <input name="age" type="number" class="form-control" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-success">SAVE</button>
                    </div>
                </form>

            </div>
        </div> -->
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>